<div class="container">
    <div class="card">
        <p class="card__title-number">ADVICE #{{conselho.slip?.id}}</p>
        <div class="card__msg-container">
            <h1>"{{conselho.slip?.advice}}"</h1>
        </div>
        <div class="divider">
            <img *ngIf="!isDevice" src="../../../assets/pattern-divider-desktop.svg" alt="">
            <img *ngIf="isDevice" src="../../../assets/pattern-divider-mobile.svg" alt="">
        </div>
        <a class="card__btn" (click)="getConselho()"><img src="././../../../assets/icon-dice.svg" alt=""></a>
    </div>
</div>