/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Manrope';
    src: url("./././../Manrope/Manrope-VariableFont_wght.ttf");
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
    padding: 0;
    margin: 0;
    font-size: 28px;
}

html ,body {
    font-family: "Manrope", sans-serif;
    height: 100%;
}
